<section style="padding-top: 80px; background-color: #fed50;">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="section-heading">About Us</h2>
            <div class="section-content">
                For starters, there's Breakfast and a little about us....
                <br>
                <br>
                A team of young minds from India’s prestigious educational institution IIT , we conceived BreadnPulp with only one vision – To make everyday breakfast a daily fancy gourmet affair in the comfort of your own home.
                <br>
                <br>
                Then came the thought of making it affordable, which our prices exhibit. A three- course breakfast sans the stress of what to plan for the next day is taken care of with the option of a ‘pre-order’ booking where you can choose in advance what your next breakfast will be!
                <br>
                <br>
                So all you have to do is order, save time in your morning rush hours and spend the same time to pick a better ensemble for your day or squeeze in that workout you have been contemplating!
                <br>
                <br>
                PS:  We call our breakfast meals a ‘Kickerr’ for obvious reasons ;)
            </div>
        </div>
    </div>
</section>