<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in" style="margin-bottom:150px">Healthy breakfast at your doorstep!</div>
            <!--<div class="intro-heading">It's Nice To Meet You</div>-->
            <% if logged_in? %>
                <a href="#portfolio" class="page-scroll btn btn-xl" style="padding:10px 40px !important;margin-bottom:10px;">Todays Menu</a>
            <% else %>
                <a href="signup" class="page-scroll btn btn-xl" style="padding:10px 40px !important;margin-bottom:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="#portfolio" class="page-scroll btn btn-xl" style="padding:10px 40px !important;margin-bottom:10px;">Todays Menu</a>
            <% end %>
        </div>
    </div>
</header>
<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row" style="margin:-70px !important;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Todays Menu</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <% menus_on(active_menu_date).each do |menu| %>
                    <%= render menu.kickerr %>
                <% end %>
            </div>
        </div>
    </section>

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
        </div>
    </section>
