<div class="col-md-4 col-sm-6 portfolio-item" style="text-align: center">
    <%= render menu.kickerr %>
    <h6 class="text-muted" style="text-transform: none; font-size: 130%;">Rs. <%= menu.get_price %></h6>
    <br>
    <br>
</div>