<div class="col-md-4 col-lg-4 feature" style="text-align: center;">
	<div class="panel container">
		<%= render menu.kickerr %>
		<h6 class="text-muted" style="text-transform: none; font-size: 130%;">Rs. <%= menu.get_price %></h6>
		<br>
		<br>
	</div>
</div>