<div style="text-align: center;">
	<%= render menu.kickerr %>
	<div class="col-xs-6">
        <h6 class="text-muted" style="text-transform: none; font-size: 130%;"><%= menu.kickerr.kickerr_size %> | <small>Rs. <%= menu.get_price %></small></h6>
    </div>
</div>