<% provide(:title, "All menus") %>
<div class="container">

<h1>All Menus</h1>
<%if logged_in? && current_user.admin? %><small><%= link_to "New menu", new_menu_path %></small>
<% end %>
	<% courses_array = ['Main', 'Beverage', 'Salad', 'Side'] %>
	<% courses_array.each do |c| %>
		
			<%= c %>
		
	<% end %>

	<ul>
	<% @all_dates.each do |date| %>
		<li>
			<%= date %>
			<% menus_on(date).each do |menu| %>
				<%= render menu.kickerr %>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>