<% provide(:title, "All menus") %>

<h1>All Menus</h1>
<div class="center"><small><%= link_to "New menu", new_menu_path %></small></div>

<ul>
<% @all_dates.each do |date| %>
	<li>
		<%= @date = date %>
		<% @menus.each do |menu| %>
			<%= render menu.kickerr %>
		<% end %>
	</li>
<% end %>
</ul>