<% provide(:title, "Menu") %>
<div class="container">
	<h1>Menu</h1>
	<div class="row">
		<p><%= @menu.kickerr.name %> is available on <%= @menu.available_on %> for Rs. <%= @menu.get_price %></p>
	</div>
	<div class="kickerr">
		<%= render @menu.kickerr %>
	</div>
</div>