<% provide(:title, 'All users') %>

<h1>All users</h1>

<table class="table table-hover">
	<tr>
		<th>
			Id
		</th>
		<th>
			Name
		</th>
		<th>
			Phone number
		</th>
		<th>
			Email
		</th>
		<th>
			Source
		</th>
		<th>
			Date of registration
		</th>
		<th>
			Admin
		</th>
	</tr>
	<%= render @users %>
</table>