<% provide(:title, "#{@user.name.split(' ').first}'s orders") %>

<h1><%= @user.name.split(' ').first %>'s orders</h1>

<table class="table table-hover">
	<%= render 'deliveries/header' %>
	<%= render @deliveries %>
</table>