<div class="row">
    <ul>
		<li class="btn btn-xl" style="display: inline; padding: 10px;"><%= link_to "Recent", recent_orders_path, style: "color: black;" %></li>
		<li class="btn btn-xl" style="display: inline; padding: 10px;"><%= link_to "Today's", todays_orders_path, style: "color: black;" %></li>
		<li class="btn btn-xl" style="display: inline; padding: 10px;"><%= link_to "Future", future_orders_path, style: "color: black;" %></li>
		<li class="btn btn-xl" style="display: inline; padding: 10px;"><%= link_to "All orders", deliveries_path, style: "color: black;" %></li>
	</ul>
</div>