<% provide(:title, "chef view") %>

<h1>Chef View</h1>

<table class="table table-hover">
	<%= render 'deliveries/chef_view_header' %>
	<% @rows.each do |row| %>
		<tr>
			<td>
				<%= row.first.strftime("%I:%M%p") %>
			</td>
			<td>
				<% row.second.each do |subrow| %>
					<%= subrow.first %><br>
				<% end %>
			</td>
			<td>
				<% row.second.each do |subrow| %>
					<%= subrow.second %><br>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>