<form action="https://www.ftcash.com/app/fmc/pay" method="post" name="myform">
	<input type='hidden' name='mid' value=<%= ENV["FTCASH_MID"] %>>
	<input type='hidden' name='orderid' value=<%= @delivery.booking_no %>>
	<input type='hidden' name='amount' value=<%= delivery.get_total_amount %>>
</form>
<script>
	document.myform.submit();
</script>