<% provide(:title, "Future orders") %>

<h1>Future orders</h1>

<table class="table table-hover">
	<tr>
		<th>
			Order number
		</th>
		<th>
			Despatch time
		</th>
		<th>
			User details
		</th>
		<th>
			Delivery address
		</th>
		<th>
			Payment details
		</th>
		<th>
			Kickerr details
		</th>
		<th>
			<%= "actions" %>
		</th>
	</tr>
	<%= render @deliveries %>
</table>