<% provide(:title, "Recent orders") %>

<h1>Recent orders</h1>
<% if current_user.admin? %>
	<%= link_to "New order", new_delivery_path, class: "btn btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black;" %>
<% end %>

<table class="table table-hover">
	<%= render 'deliveries/header' %>
	<%= will_paginate @deliveries %>
	<%= render @deliveries %>
</table>