<% provide(:title, "Today's orders") %>
<%= render 'deliveries/order_navigation' %>

<h1>Today's orders</h1>
<% if current_user.admin? %>
	<%= link_to "New order", new_delivery_path, class: "btn btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black;" %>
<% end %>

<table class="table table-hover">
	<%= render 'deliveries/header' %>
	<%= render @deliveries %>
</table>