<% provide(:title, "Today's orders") %>
<%= render 'deliveries/order_navigation' %>

<h1>Today's orders</h1>

<table class="table table-hover">
	<%= render 'deliveries/header' %>
	<%= render @deliveries %>
</table>