<li>
  <%= link_to food_item.name, food_item %>
  <% if current_user.admin? %>
    | <%= link_to "delete", food_item, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>