<% provide(:title, "All food items") %>

<h1>All food items</h1>
<div class="center"><small><%= link_to "New food item", new_food_item_path %></small></div>

<% courses_array = ['Main', 'Beverage', 'Salad', 'Side'] %>
<% courses_array.each do |c| %>
	<div class="col-md-3">
		<ul class="food_items">
			<h3><%= c %></h3>
			<%= render @food_items.where(course: c) %>
		</ul>
	</div>
<% end %>