<% provide(:title, "All food items") %>

<h1>All food items</h1>
<% courses_array = ['Main', 'Beverage', 'Salad', 'Salad'] %>
<% courses_array.each do |c| %>
	<div class="col-md-3">
		<ul class="food_items">
			<h3><%= c %></h3>
			<%= render @food_items.where(course: c) %>
		</ul>
	</div>
<% end %>