<% provide(:title, "All food items") %>

<h1>All Food Items</h1>

<table class="table table-hover">
	<tr>
		<th>
			Name
		</th>
		<th>
			Veg/Non-Veg/Egg
		</th>
		<th>
			Description
		</th>
		<th>
			Actions
		</th>
	</tr>
	<% @food_items.each do |food_item| %>
		<tr>
			<td>
				<%= food_item.name %>
			</td>
			<td>
				<%= food_item.veg_non_egg %>
			</td>
			<td>
				<%= food_item.description %>
			</td>
			<td>
				<%= link_to "edit", edit_food_item_path(food_item) %>
			</td>
		</tr>
	<% end %>
</table>