<% provide(:title, "All FoodieCalls") %>

<h1>All FoodieCalls</h1>

<table class="table table-hover">
	<%= render 'food_alerts/index_table_header' %>
	<%= render 'food_alerts/index_food_alert' %>
</table>