$('#address_form').remove();
$("#addresses_select").prepend('<option select="selected" value=<%= @address.id %>><%= @address.postal_address %></option>');
$(window).scrollTop($('#addresses').offset().top);