<div class="col-md-4 col-sm-6 portfolio-item">
	<a href="new_delivery_path" class="portfolio-link" data-toggle="modal">
		<div class="portfolio-hover">
			<div class="portfolio-hover-content">
				<i class="fa fa-plus fa-3x"></i>
			</div>
		</div>
		<%= image_tag kickerr.food_items.where(course: 'Main').first.image.url %>
	</a>
	<div class="portfolio-caption">
		<h4><%= kickerr.name %></h4>
		<p class="text-muted"><%= kickerr.description %></p>
	</div>
</div>