<%= image_tag kickerr.food_items.where(show_image: true).first.image.url :medium %>
<div class="portfolio-caption">
	<h4><%= kickerr.name %></h4>
	<p class="text-muted"><%= kickerr.description %></p>
	<h6 class="text-muted"><%= kickerr.veg_type + " product" %></h6>
</div>