<% provide(:title, "All kickerrs") %>

<h1>All kickerrs</h1>
<small><%= link_to "New kickerr", new_kickerr_path %></small>

<%= will_paginate %>

<ul class="kickerrs">
	<%= render @kickerrs %>
</ul>

<%= will_paginate %>