<% provide(:title, "All kickerrs") %>
<div class="row">
	<h1>All kickerrs</h1>
	<small><%= link_to "New kickerr", new_kickerr_path %></small>
</div>

<%= will_paginate %>

<ul class="kickerrs">
	<%= render @kickerrs %>
</ul>

<%= will_paginate %>